In [ ]:
#print 0 to 20 by using range

In [1]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print range 10 to 20

In [2]:
print(list(range(10,20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
print(*range(10,20))

10 11 12 13 14 15 16 17 18 19

In [ ]:
#print number of items in the list by using 'len'

In [4]:
list= [10,20,14,55,43,87,76]
print(list)
print("Number of item in the list:",len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list: 7

In [5]:
word = input()
for letters in word:
    print(letters)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [7]:
Name = input()
Age = int(input())
Profession = input()
print("-Your Name-",Name)
print("-Your Age-",Age)
print("-Your Profession-",Profession)

karthika
33
Engineer
-Your Name- karthika
-Your Age- 33
-Your Profession- Engineer

In [ ]:
#tuples

In [8]:
tuple = (1 , 'Welcome', 2 ,'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [10]:
tuple1=(0,1,2,3)
tuple2=('python','Hope')
tuple3=tuple1,tuple2
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [11]:
#print odd numbers in the list

In [14]:
list =[20,10,16,19,25,1,276,188]
for temp in list:
    if(temp%2==1):
        print(temp,"is odd")

19 is odd
25 is odd
1 is odd

In [15]:
#print the even numbers in the list

In [16]:
list =[20,10,16,19,25,1,276,188]
for temp in list:
    if(temp%2==0):
        print(temp,"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even