In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("insurance_pre.csv")

In [4]:
data.head(10)

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520
5   31  female  25.740         0     no   3756.62160
6   46  female  33.440         1     no   8240.58960
7   37  female  27.740         3     no   7281.50560
8   37    male  29.830         2     no   6406.41070
9   60  female  25.840         0     no  28923.13692

In [5]:
#Encoding

In [6]:
data=pd.get_dummies(data,drop_first=True)
data=data.astype(int)
data

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [7]:
data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
independent=data[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=data[['charges']]

In [9]:
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [10]:
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [11]:
#train set and test set split

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
x_train,x_test,y_train,y_test

(      age  bmi  children  sex_male  smoker_yes
 1163   18   28         0         0           0
 196    39   32         0         0           0
 438    52   46         5         0           0
 183    44   26         0         0           0
 1298   33   27         2         1           0
 ...   ...  ...       ...       ...         ...
 763    27   26         0         1           0
 835    42   35         2         1           0
 1216   40   25         0         1           0
 559    19   35         0         1           0
 684    33   18         1         0           0

 [936 rows x 5 columns],
       age  bmi  children  sex_male  smoker_yes
 578    52   30         1         1           0
 610    47   29         1         0           0
 569    48   40         2         1           1
 1034   61   38         0         1           0
 198    51   18         0         0           0
 ...   ...  ...       ...       ...         ...
 1261   28   37         1         1           0
 494    21   25         4         1           1
 97     55   38         0         1           0
 418    64   39         1         1           0
 920    62   25         0         0           0

 [402 rows x 5 columns],
       charges
 1163     2200
 196      5649
 438     12592
 183      7419
 1298     5261
 ...       ...
 763      3070
 835      7160
 1216     5415
 559      1646
 684      4766

 [936 rows x 1 columns],
       charges
 578      9724
 610      8547
 569     45702
 1034    12950
 198      9644
 ...       ...
 1261     3277
 494     17942
 97      10226
 418     14418
 920     13451

 [402 rows x 1 columns])

In [14]:
#model creation

In [15]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor()
regressor=regressor.fit(x_train,y_train)

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [16]:
#find r2_score

In [17]:
y_pred=regressor.predict(x_test)

In [18]:
from sklearn.metrics import r2_score

In [19]:
r_score=r2_score(y_test,y_pred)

In [20]:
r_score

0.8498821394113185

In [21]:
#save the model

In [22]:
import pickle

In [23]:
filename="finalaized_model_RandomForest.sav"
pickle.dump(regressor,open(filename,'wb'))

In [24]:
loaded_model=pickle.load(open("finalaized_model_RandomForest.sav","rb"))

In [25]:
result= loaded_model.predict([[35,29,0,1,0]])

C:\Users\USER\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [26]:
result

array([4826.85666667])